@namespace Zits.Ui
<li @attributes="Attributes" class="@Cn.Class(Base, Cn.UserClass(Attributes))">@ChildContent</li>
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public IDictionary<string, object>? Attributes { get; set; }
    private const string Base = "inline-flex items-center gap-1.5";
}
